@model ArticleResponseViewModel

@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Subtitle</h1>
<hr />

<div class="card">
    <div class="card-header">
        <h4>@ViewBag.Action</h4>
    </div>
    <div class="card-body">
        <form asp-action="Save" asp-controller="Article" method="post">

            <input asp-for="Id" type="hidden" />

            <div class="mb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control form-control-sm" asp-for="Name" >
            </div>
            <div class="mb-2">
                <label class="form-label">Is Damaged?</label>
                <input name="IsDamaged" type="checkbox" asp-for="IsDamaged" />
            </div>
            <div class="mb-2">
                <label class="form-label">Museum</label>
                <select class="form-control" asp-for="IdMuseum">
                    @foreach (var item in ViewBag.Museum)
                    {
                        <option value=@item.MuseumId> @item.Name</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-success btn-sm">Saves changes</button>

            <a asp-action="Index" asp-controller="Article" class="btn btn-warning btn-sm">Back to Articles list</a>  

        </form>
    </div>
</div>

