@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <small>Programming challenge</small>

    <h3>
        Xtra Travel Services Ltd. Programming Challenge
    </h3>
    <p style="color:darkgrey;">This challenge is designed to evaluate a candidate’s code level, problem solving and programming skills. </p>
    <br />

    <h4>
        OBJECTIVE
    </h4>
    <hr />
    <p>To build a RESTful API and the UI to support the management of Museums and their Articles.</p>
    <br />
    <h4>
        GENERAL PERSPECTIVE 
    </h4>
    <hr />
    <p>The API will have controllers for Museum object and Article object. It will also need persistence, in-memory or permanent.</p>
    <p>End user should be able to perform CRUD operations on both objects.</p>
    <p>Microsoft stack technologies should be use, ASP.NET WebAPI/.Net Core/ .NET and C# as language. No library restriction for the UI.</p>
    <br />
    <h4>
        TASKS
    </h4>
    <hr />
    <ul>
        <li>Add, edit and delete a Museum</li>
        <li>Add or Remove an Article from a Museum</li>
        <li>Mark an Article as Damaged</li>
        <li>Retrieve all Museum’s articles.</li>
        <li>Get all Museums by Theme. Themes are: Art, Natural Science, History</li>
        <li>(optional) Relocate Article from Museum</li>
        <li style="color:red;">(optional) Create several Articles at once (Not Finished)</li> 
    </ul>
    <br />
</div>
